html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

#main_node,
#body_node {
  position: absolute;
}

#main_node {
  top: 0px;
  width: 200px;
  bottom: 0px;
  background: white;
}

#body_node {
  top: 0px;
  left: 200px;
  right: 0;
  bottom: 0px;
  background: #fff;
}

.div-height-text-area{
	height: 80%;
}

textarea.form-control {
  height: 70%;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.bottom_border {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
pre.console {
    color: #000;
    background-color: #f0eff0;
}
.navbar {
	padding: .3rem 1rem;
}
.list_group_size{
	padding: 0.35rem 1.25rem;
}
.inline-div {
    /* background: #f06;  */
    vertical-align: middle; 
    display:inline-block;
    width: 40%;
    height: 40%;
}
.encode_decode_size{
	height: 100% !important;
}
.encode_button{
	width: 10%;
    height: 40%;
    display: inline-block;
}
.button_style{
	margin: 2%;
}
#chose_container > a {
	padding: 0px 4px;
	border-right: 1px solid black;
}
.navbar-toggle {
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: 2px;
	margin-top: 2px;
}
.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:42px !important}
.padding-questions{
	font-size:25px !important;
	margin-left: 8px;
	margin-right: 8px;
}
.label_span {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-python {
    background-color: #777;
}
.count_thumbup{
	margin-left: 9px;
	margin-right: 9px;
}
.navbar-inverse{
	margin-bottom: 0px;
}
.remove_padding{
	margin-bottom: 0px;
	font-family: Arial Black; 
	font-size: 17px;
	font-weight: bold;
}
.align_left{
	float:left;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color:#fff;
}
.span_padding{
	padding: 3px;
}